.header {
    background: #222;

    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);

    height: 5rem;

    width: 100vw;

    

    display: flex;

    align-items: center;

    justify-content: space-between;


    padding: 0 1.5rem;
}

.logo {

    height: 3rem;
}

.headerLink {

    color: #eee;
}
.headerLink:hover {

    text-decoration: underline;
}
.nav {
    display: flex;

    justify-content: space-between;

    width: 30rem;
}