

.card {
    position: relative;

    padding: 46px 1.8px;


    width: 30rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    --bg: white;

    color: black;
}

.start {

    position: absolute;

    left: 0;
    top: 0;

    width: 100%;
}
.end {

    position: absolute;

    left: 0;
    bottom: 0;

    width: 100%;

    transform: rotate(180deg);
}
.body {
    width: 100%;

    padding: 2rem 2.6rem;

    background: var(--bg);
}

.cardTitle {}
.cardDate {}

.itemList {

    border-top: 2px dashed gray;
    border-bottom: 2px dashed gray;

    width: 100%;
}

.itemRow {
    display: flex;

    height: 3rem;
}

.itemRow--amount {

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 3rem;
}


.itemRow--name {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;


    width: 100%;
}
.itemRow--status {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;


    width: 12rem;
}
.itemRow--co2 {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;


    width: 8rem;
}