.footer {

    height: 10rem;
    padding: 3rem 0;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    background: #222;
}
.copyright {

    color: #ccc;
}
.link {

    color: #eee !important;
}
.nav {
    display: flex;

    justify-content: center;


    gap: 2rem;
}
.link:hover {
    text-decoration: underline;
}